.cards {
    display: flex;
    width: 1164px;
    border: 1px solid red;
    margin: -150px auto;
    justify-content: space-between;
    z-index: 170;
}

@media screen and (max-width: 720px) {
    .cards {
        margin: 100px auto;
    }
}
