.card__brand {
    height: 26px;
    font-size: 18px;
    line-height: 39px;
    color: #1D1D1B;
    margin: 0;
    white-space: pre-wrap;
}


.card__brand_small {
    font-size: 18px;
    line-height: 21px;
    color: #1D1D1B;
    margin: 0;
    white-space: pre;
}
