.header__button {
    width: 12px;
    height: 12px;
    background-image: url('../../../images/black.svg');
    background-color: #FFFFFF;
    border: none;
    margin-left: 8px;
    margin-top: 7px;
}
