.lead__img {
    display: flex;
    margin-top: -67px;
    position: absolute;
    right: 0px;
    z-index: 10;
    width: 740px;
}


.lead__img_medium {
    display: none;
}


@media screen and (max-width: 720px) {
    .lead__img {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .lead__img_medium {
       display: flex;
        margin-top: -45px;

    }
}
