
.footer {
    max-width: 100%;
    min-width: 186px;
    display: flex;
    flex-direction: row;
    height: 140px;
    margin: 230px 0 24px;
    background: #F2F2F2;
    padding: 0 408px 0;
}

@media screen and (max-width: 768px) {
    .footer {
        justify-content: space-between;
        margin: 0;
        padding: 0;
        height: fit-content;
    }
}

.footer__nav {
    display: flex;
    text-decoration: none;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .footer__nav {
        width: 428px;
        justify-content: space-between;
    }
}

.footer__content{
    display: flex;
    flex-direction: column;
    width: 599px;
    margin: 25px 328px 41px 0;
}

@media screen and (max-width: 768px) {
    .footer__content {
        margin: 25px 0 24px 24px;
    }
}


.footer__link {
    font-size: 8px;
    line-height: 8px;
    text-decoration: none;
    margin-right: 20px;
    color: #666666;

    white-space: pre-wrap;
}

@media screen and (max-width: 768px) {
    .footer__link {
        font-size: 10px;
        line-height: 12px;
        color: #666666;
    }
}

.footer__text {
    font-size: 11px;
    line-height: 16px;
    color: #999999;
    margin-top: 10px;
    white-space: pre-line;
}

@media screen and (max-width: 768px) {
    .footer__text {
        font-size: 12px;
    }
}


.footer__options{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .footer__options {
        margin: 27px 24px 75px 0;
    }
}


.footer__socials {
    display: flex;
    width: 182px;
    justify-content: space-between;
    margin: 25px 0 12px 0;
}

.footer__socials-link {
    background-image: url("../../images/Facebook.svg");
}

.footer__country {
    display: flex;
    width: 182px;
    height: 40px;
    border: 1.5px solid #CCCCCC;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 12px 0;
}



.footer__country-name {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #999999;
}

.footer__button {
   margin-top: 10px;
    background-image: url("../../images/black.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 9px;
    border: none;
}




@media screen and (max-width: 320px) {
    .footer {
    max-width: 186px;
    margin-left: 16px;
    flex-direction: column;
    align-items: end;
    }
}




